.body {
  background-color: #000;
}

.image {
  display: block;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  display: none;
}

.nav-menu {
  margin-top: 16px;
  color: #fff;
}

.nav-button {
  margin-right: 0px;
  margin-left: 48px;
  padding: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.nav-button.edge1 {
  margin-left: 56px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
}

.nav-button.edge1:hover {
  color: #ff5e5e;
}

.nav-button.edge1:visited {
  color: #fff;
}

.nav-button.edge2 {
  margin-right: 0px;
  margin-left: 56px;
  padding: 0px;
  font-size: 16px;
}

.nav-button.edge2:hover {
  color: #ff5e5e;
}

.nav-button.c {
  margin-right: 100px;
  margin-left: 56px;
  font-size: 16px;
  font-weight: 500;
}

.nav-button.c:hover {
  color: #ff5e5e;
}

.nav-button.c.f {
  display: none;
}

.nav-button.c.g {
  margin-right: 0px;
  margin-left: 0px;
}

.nav-button.d {
  margin-left: 100px;
  font-size: 16px;
}

.nav-button.d:hover {
  color: #ff5e5e;
}

.nav-button.d.e {
  margin-right: 0px;
  margin-left: 56px;
  font-size: 16px;
}

.nav-button.d.e:hover {
  color: #ff5e5e;
}

.nav-link-2 {
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.nav-link-3 {
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.container-2 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
}

.div-block {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-2 {
  margin-top: 16px;
}

.image-2 {
  margin-top: 16px;
  padding-top: 0px;
  text-align: center;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99999;
  display: block;
  margin-top: 0px;
  background-color: #021456;
  text-align: left;
  background-clip: border-box;
}

.hero-heading {
  display: block;
  margin-top: 0px;
  background-color: transparent;
  opacity: 0.93;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: translate3d(0px, 0px, 1000px) perspective(0px);
  transform: translate3d(0px, 0px, 1000px) perspective(0px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero-heading.hero-heading-interaction1 {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

.div-block-3 {
  display: block;
}

.div-block-3.interaction {
  display: none;
}

.text-block-2 {
  display: block;
  margin-top: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1e1e1e;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 48px;
}

.heading.achi {
  margin-top: 48px;
  background-color: transparent;
}

.heading.planes {
  margin-top: 64px;
  background-color: transparent;
}

.heading.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.heading.depart.team {
  margin-top: 64px;
  background-color: transparent;
}

.heading.depart.spon {
  margin-top: 64px;
  background-color: #141414;
}

.heading.depart.box {
  margin-top: 64px;
  background-color: #141414;
}

.text-span {
  color: #ff5e5e;
}

.text-span-2 {
  color: #ff5e5e;
}

.text-span-3 {
  color: #ff5e5e;
}

.button {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  opacity: 1;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.button:hover {
  border-style: none;
  background-color: #ff5e5e;
  opacity: 1;
  text-decoration: none;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-4.interaction {
  display: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-5.interaction {
  display: block;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 32px;
}

.text-span-4 {
  color: #ff5e5e;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.image-3 {
  margin-top: 36px;
}

.section {
  background-color: #141414;
}

.div-block-6 {
  display: -ms-grid;
  display: grid;
  margin-top: 36px;
  margin-bottom: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.image-4 {
  margin-top: -37px;
}

._1 {
  margin-top: -24px;
  margin-bottom: 0px;
  background-image: url('../images/01.png');
  background-position: 100% 10%;
  background-size: 164px;
  background-repeat: no-repeat;
  opacity: 1;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

._1._2 {
  background-image: url('../images/02.png');
  background-position: 100% 10%;
  background-size: 164px;
  background-repeat: no-repeat;
}

._1._3 {
  background-image: url('../images/03.png');
  background-size: 209px;
  background-repeat: no-repeat;
}

._1._4 {
  background-image: url('../images/04.png');
  background-position: 100% 0%;
  background-size: 234px;
  background-repeat: no-repeat;
}

._1._4._5 {
  margin-top: 0px;
  background-image: url('../images/05.png');
  background-position: 100% 50%;
  background-size: 213px;
}

.image-5 {
  position: relative;
  left: 342px;
  top: 3037.75px;
  display: block;
  overflow: visible;
  text-align: left;
}

.image-6 {
  opacity: 0.28;
}

.container-4 {
  margin-top: 0px;
  background-color: transparent;
}

.container-4.box {
  margin-top: 36px;
}

.div-block-9 {
  display: -ms-grid;
  display: grid;
  margin-top: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

._2014 {
  margin-top: -134px;
}

._2013 {
  margin-top: -37px;
}

._2015 {
  margin-top: -42px;
  padding-bottom: 0px;
}

._2016 {
  margin-top: -43px;
}

._2017 {
  margin-top: -29px;
}

._2018 {
  margin-top: -204px;
}

._2020 {
  margin-top: -185px;
}

._2019 {
  margin-top: -30px;
}

.column {
  background-color: #1e1e1e;
}

.image-7 {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
}

.heading-9 {
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.heading-10 {
  margin-top: 8px;
  margin-bottom: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.column-2 {
  padding-right: 8px;
  padding-left: 29px;
}

.div-block-10 {
  display: -ms-grid;
  display: grid;
  margin-top: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 32px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 32px auto 32px auto 32px auto 32px auto;
  grid-template-rows: auto auto auto auto auto;
}

.div-block-11 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #141414;
  text-align: left;
}

.div-block-11:hover {
  box-shadow: -6px -5px 10px -6px rgba(255, 94, 94, 0.38), 5px 5px 9px -4px #111;
}

.image-8 {
  padding: 20px;
}

.heading-11 {
  display: block;
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}

.image-9 {
  padding: 20px;
}

.image-10 {
  padding: 20px;
}

.section-2 {
  position: static;
  display: block;
  margin-top: 36px;
}

.section-3 {
  margin-top: 120px;
  background-color: #1e1e1e;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-13 {
  margin-top: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-14 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-3 {
  margin-bottom: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.div-block-16 {
  margin-right: 36px;
  margin-left: -36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-17 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-4 {
  margin-bottom: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.heading-13 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.footer {
  margin-top: 64px;
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
  text-align: center;
}

.footer-flex-container {
  display: block;
  margin-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.list-item {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.text-block-5 {
  margin-top: 56px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #585858;
  font-size: 14px;
}

.text-block-5.k {
  margin-top: 20px;
}

.div-block-18 {
  margin-right: 48px;
  margin-left: 56px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-20 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}

.div-block-22 {
  margin-left: 64px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-14 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 22px;
  font-weight: 600;
  text-align: left;
}

.paragraph-2 {
  margin-bottom: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.submit-button {
  padding: 9px 12px;
  background-color: #ff5e5e;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.text-field {
  margin-right: 12px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.heading-15 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-weight: 500;
  text-align: left;
}

.image-11 {
  display: inline-block;
  margin-right: 28px;
  text-align: left;
}

.image-12 {
  display: inline-block;
  margin-right: 28px;
  text-align: left;
}

.image-13 {
  display: inline-block;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.slider {
  position: relative;
  top: 0px;
  height: 500px;
  margin-bottom: 0px;
}

.container-7 {
  position: static;
  margin-bottom: 0px;
}

.section-4 {
  position: fixed;
  left: 0%;
  top: 70px;
  right: 0%;
  bottom: auto;
  z-index: 99999;
  width: 100%;
  height: 4px;
  background-color: #ff5e5e;
  background-image: linear-gradient(153deg, #ff5e5e 28%, #006eff 91%);
  opacity: 1;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.section-5 {
  position: static;
  overflow: visible;
}

.image-14 {
  margin-left: 28px;
}

.div-block-24 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.heading-16 {
  margin-top: 78px;
  margin-bottom: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.form-block {
  background-color: #ff5e5e;
}

.success-message {
  margin-top: 16px;
  background-color: #ff5e5e;
}

.text-block-6 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.error-message {
  background-color: #fff;
}

.text-block-7 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.image-15 {
  overflow: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.slide {
  -o-object-fit: cover;
  object-fit: cover;
}

.slide-nav {
  display: block;
  opacity: 1;
}

.right-arrow {
  display: none;
}

.left-arrow {
  display: none;
}

.icon-2 {
  display: none;
}

.icon-3 {
  display: none;
}

.image-17 {
  text-align: left;
}

.hero-heading-interaction {
  margin-top: 74px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: translate3d(0px, 0px, 1000px) perspective(0px);
  transform: translate3d(0px, 0px, 1000px) perspective(0px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(0, 93, 253, 0.3);
  -webkit-transform: rotateX(0.0001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.0001deg) rotateY(0deg) rotateZ(0deg);
  text-align: left;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container-9 {
  display: block;
}

.background {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 7500px;
  max-width: none;
  opacity: 1;
  -webkit-transform: translate3d(0px, -224px, -300px);
  transform: translate3d(0px, -224px, -300px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.text-span-5 {
  color: #ff5e5e;
  font-weight: 600;
}

.button-2 {
  display: inline-block;
  padding: 12px;
  background-color: #ff5e5e;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.hero-heading-interactio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  background-image: none;
  background-size: auto;
  opacity: 1;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: translate3d(0px, 0px, 1000px) perspective(0px);
  transform: translate3d(0px, 0px, 1000px) perspective(0px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.interaction {
  position: relative;
  z-index: 9999;
  display: block;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(255, 94, 94, 0.46);
  -webkit-perspective: 10px;
  perspective: 10px;
  -webkit-transform: rotateX(0.0001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.0001deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-18 {
  width: 750px;
  height: 500px;
  max-width: none;
}

.image-19 {
  max-width: none;
}

.image-20 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 7500px;
  max-width: none;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: translate3d(0px, 0px, -119px);
  transform: translate3d(0px, 0px, -119px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-21 {
  width: 7500px;
}

.hero-heading-interaction1 {
  display: block;
  margin-top: 74px;
  opacity: 1;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.rotate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -webkit-transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bg {
  position: absolute;
  width: 7500px;
  max-width: none;
  -webkit-transform: translate3d(0px, 0px, -5500px);
  transform: translate3d(0px, 0px, -5500px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-22 {
  height: 500px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  background-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  color: #ff5e5e;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-23 {
  position: absolute;
  width: 7500px;
  max-width: none;
  -webkit-transform: translate3d(0px, 0px, -5000px);
  transform: translate3d(0px, 0px, -5000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-24 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 7500px;
  max-width: none;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 14px);
  transform: translate3d(0px, 0px, 14px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.container-10 {
  display: block;
  margin-top: 74px;
}

.link-block {
  text-align: left;
  text-decoration: none;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-29 {
  margin-right: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1e1e1e;
}

.div-block-29.div-block-11 {
  margin-right: 0px;
  padding: 16px 16px 0px;
  background-color: #141414;
}

.div-block-30 {
  display: block;
  margin-right: 20px;
  margin-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1e1e1e;
}

.div-block-30.div-block-11 {
  margin-right: 0px;
  padding: 16px 16px 0px;
  background-color: #141414;
}

.div-block-31 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1e1e1e;
}

.div-block-31.div-block-11 {
  padding: 16px 16px 0px;
  background-color: #141414;
}

.text-span-6 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-align: justify;
}

.image-25 {
  display: block;
  padding: 0px;
  text-align: left;
}

.section-6 {
  margin-top: 36px;
}

.image-26 {
  padding: 0px;
}

.image-27 {
  padding: 0px;
}

.heading-17 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.div-block-32 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.html-embed {
  border: 0px none #000;
  background-color: transparent;
}

.div-block-33 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-35 {
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-28 {
  display: inline-block;
  margin-right: 32px;
  margin-left: 0px;
  opacity: 1;
}

.image-28:hover {
  border-radius: 0px;
  background-color: transparent;
  color: #0026af;
}

.div-block-36 {
  display: -ms-grid;
  display: grid;
  margin-top: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-37 {
  margin-right: 20px;
}

.div-block-38 {
  margin-right: 0px;
}

.div-block-39 {
  margin-right: 20px;
}

.image-29 {
  display: block;
  text-align: center;
}

.image-30 {
  display: inline-block;
}

.slide-2 {
  background-color: #fff;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .navbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-button.d.e {
    margin-left: 48px;
  }

  .div-block-2 {
    display: block;
  }

  .nav {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #252525;
  }

  .div-block-11:hover {
    box-shadow: -6px -4px 9px -4px rgba(255, 94, 94, 0.59), 6px 4px 9px -4px #111;
  }

  .interaction {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .body {
    background-image: none;
  }

  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu-button {
    margin-right: 20px;
    margin-left: auto;
  }

  .nav-button {
    display: block;
    overflow: visible;
  }

  .nav-button.c.f {
    display: block;
  }

  .div-block-2 {
    display: none;
  }

  .image-2 {
    margin-left: 20px;
  }

  ._2017 {
    margin-top: 0px;
  }

  .div-block-10 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .img {
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    margin-right: 20px;
    margin-left: auto;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu {
    margin-top: 0px;
    background-color: #141414;
  }

  .nav-button.edge2 {
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-button.c.f {
    display: block;
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #141414;
  }

  .nav-button.d {
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-button.d.e {
    margin-left: 24px;
  }

  .image-2 {
    margin-left: auto;
  }

  .hero-heading {
    margin-right: 10px;
    margin-left: 10px;
  }

  .text-block-2 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .heading {
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 10px;
    font-size: 36px;
  }

  .heading.achi {
    margin-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .heading.depart.spon {
    margin-right: 0px;
    margin-left: 0px;
  }

  .heading.depart.box {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .div-block-5 {
    margin-top: -138px;
  }

  .image-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-6 {
    padding-right: 10px;
    padding-left: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-4.box {
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .container-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-22 {
    display: block;
    margin-left: 0px;
  }

  .slider {
    height: 300px;
  }

  .section-5 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-32 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .i {
    margin-top: 161px;
  }

  .section-7 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .container-12 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    display: none;
    margin-top: 14px;
    margin-right: 20px;
    padding: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .menu-button.w--open {
    display: none;
    background-color: #1e1e1e;
  }

  .nav-menu {
    margin-top: 0px;
    padding-left: 24px;
    background-color: #1e1e1e;
  }

  .nav-button.edge1 {
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }

  .nav-button.edge2 {
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-button.c {
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1e1e1e;
    font-size: 16px;
  }

  .nav-button.c.f {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #1e1e1e;
    font-size: 16px;
  }

  .nav-button.d {
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-button.d.e {
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .div-block-2 {
    display: none;
  }

  .image-2 {
    margin-top: 14px;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .icon {
    background-color: #000;
    color: #fff;
  }

  .nav {
    background-color: #252525;
  }

  .hero-heading {
    z-index: 999;
    margin-top: 72px;
    -webkit-transform: perspective(0px);
    transform: perspective(0px);
  }

  .div-block-3 {
    margin-top: 24px;
  }

  .text-block-2 {
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .heading {
    margin: 36px 0px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    background-clip: border-box;
  }

  .heading.achi {
    margin-top: 48px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading.planes {
    margin-top: 0px;
  }

  .heading.hero {
    margin-top: 0px;
  }

  .heading.depart {
    background-color: #1e1e1e;
  }

  .heading.depart.team {
    margin-top: 0px;
  }

  .heading.depart.spon {
    margin-top: 48px;
  }

  .heading.depart.box {
    margin-top: 48px;
  }

  .button {
    padding: 8px;
    font-size: 12px;
  }

  .div-block-5 {
    margin-top: 10px;
  }

  .heading-2 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 20px;
  }

  .paragraph {
    margin-bottom: 0px;
    font-size: 12px;
  }

  .image-3 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-6 {
    margin: 24px 10px 36px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-3 {
    color: #1e1e1e;
  }

  .heading-7 {
    font-size: 24px;
    line-height: 32px;
  }

  ._1 {
    background-size: 80px;
    font-size: 14px;
  }

  ._1._2 {
    background-size: 100px;
  }

  ._1._3 {
    background-image: url('../images/03.png');
    background-size: 100px;
    background-repeat: no-repeat;
  }

  ._1._4 {
    background-image: url('../images/04.png');
    background-position: 100% 10%;
    background-size: 120px;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  ._1._4._5 {
    background-position: 100% 0%;
    background-size: 120px;
  }

  .container-4 {
    margin-top: 48px;
    background-color: transparent;
  }

  .container-4.box {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .div-block-8 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-9 {
    margin-top: 24px;
    margin-right: 10px;
    margin-left: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-8 {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  ._2014 {
    margin-top: -32px;
  }

  ._2013 {
    margin-top: -33px;
  }

  ._2015 {
    margin-top: -33px;
  }

  ._2016 {
    margin-top: -32px;
  }

  ._2017 {
    margin-top: -33px;
  }

  ._2018 {
    margin-top: -30px;
  }

  ._2020 {
    margin-top: -34px;
  }

  ._2019 {
    margin-top: -29px;
  }

  ._2012 {
    margin-top: -31px;
  }

  .div-block-10 {
    margin-top: 24px;
    margin-right: 10px;
    margin-left: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-11 {
    font-size: 16px;
    line-height: 20px;
  }

  .heading-12 {
    font-size: 14px;
  }

  .section-2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    display: none;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .text-block-5 {
    font-size: 12px;
  }

  .text-block-5.k {
    font-weight: 500;
    text-align: center;
  }

  .div-block-18 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .div-block-21 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .container-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-14 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 20px;
  }

  .paragraph-2 {
    font-size: 16px;
    line-height: 20px;
  }

  .heading-15 {
    margin-top: 24px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 16px;
  }

  .div-block-23 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .slider {
    height: 200px;
    background-color: transparent;
  }

  .section-4 {
    top: 67px;
    height: 4px;
  }

  .slide-nav {
    display: none;
    border-radius: 0px;
  }

  .icon-2 {
    display: none;
  }

  .icon-3 {
    display: none;
  }

  .image-16 {
    max-width: none;
  }

  .container-8 {
    margin-top: 24px;
  }

  .hero-heading-interaction {
    margin-top: 72px;
  }

  .hero-heading-interactio {
    margin-top: 72px;
  }

  .hero-heading-interaction1 {
    margin-top: 72px;
  }

  .image-22 {
    height: 200px;
  }

  .container-10 {
    margin-top: 36px;
  }

  .container-11 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-29.div-block-11 {
    margin-right: 0px;
  }

  .div-block-30.div-block-11 {
    margin-top: 20px;
    margin-right: 0px;
  }

  .div-block-31.div-block-11 {
    margin-top: 20px;
  }

  .image-25 {
    width: auto;
  }

  .section-6 {
    margin-top: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .image-26 {
    width: auto;
  }

  .heading-17 {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 0px;
    line-height: 20px;
  }

  .div-block-32 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-28 {
    margin-right: 32px;
    margin-left: 0px;
  }

  .div-block-36 {
    margin-top: 24px;
  }
}

#w-node-0b88a74ee380-bd296054 {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-617152898554-bd296054 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e017ebd2e3c0-bd296054 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-81c382a738a6-bd296054 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-837a3c57b690-bd296054 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-fb1746c8dcad-bd296054 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-3777e0ba070e-bd296054 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-946d38868245-bd296054 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-b07eaf6e280c-bd296054 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9fc3f8bde874-bd296054 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -webkit-box-ordinal-group: 10000;
  -webkit-order: 9999;
  -ms-flex-order: 9999;
  order: 9999;
}

#w-node-9564a507af48-bd296054 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

